 <!-- Begin page content -->

        <main role="main" class="container text-center">
        <h1 class="mt-5">Bringing the World Closer Together</h1>
        <p class="lead">An Easier Way to Share Your Song of the Moment on Instagram.</p>
        </main>
        
        <div class="col-md-8 col-md-offset-4" style="text-align: center">
            <button type="button" href="/signin" class="btn btn-primary">Signin</button>
            <button type="button" href="/signup" class="btn btn-primary">Signup</button>
        </div>
